*{
	font-size: 17px;
	font-family: 'Pacifico', cursive;

}


#price .price{
	border: 2px solid gold;
	border-radius: 10px;
	text-align: center;
    background-color: rgba(0,0,0,0.5);
	padding-top: 10px;
	transition: 1s;
	margin-bottom: 20px;
	margin-top: 10px;
}
#price h2{
	text-align: center;
    color: gold ;
}
#price h3{
    background-color: rgba(0,0,0,0.7);
    border: 3px solid gold;
    border-radius: 50%;
	font-size: 26px;
    color: gold;
    overflow:hidden;
}
#price p {
    padding: 10px;
    color: gold;
}



#price .price:hover, .header-btn:hover{
	padding-top: 30px;
	background: rgba(0,0,0,0.9);
/*background: -moz-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 14%, rgba(248,181,0,1) 57%, rgba(252,205,77,1) 77%, rgba(251,223,147,1) 100%);*/
/*background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,234,187,1)), color-stop(14%, rgba(252,205,77,1)), color-stop(57%, rgba(248,181,0,1)), color-stop(77%, rgba(252,205,77,1)), color-stop(100%, rgba(251,223,147,1)));*/
/*background: -webkit-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 14%, rgba(248,181,0,1) 57%, rgba(252,205,77,1) 77%, rgba(251,223,147,1) 100%);*/
/*background: -o-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 14%, rgba(248,181,0,1) 57%, rgba(252,205,77,1) 77%, rgba(251,223,147,1) 100%);*/
/*background: -ms-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 14%, rgba(248,181,0,1) 57%, rgba(252,205,77,1) 77%, rgba(251,223,147,1) 100%);*/
/*background: linear-gradient(to right, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 14%, rgba(248,181,0,1) 57%, rgba(252,205,77,1) 77%, rgba(251,223,147,1) 100%);*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );*/
}
#infoprice{
	padding: 20px;
	font-size: 20px;
	text-align: center;
background: rgba(252,234,187,1);
background: -moz-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 14%, rgba(248,181,0,1) 57%, rgba(252,205,77,1) 77%, rgba(251,223,147,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,234,187,1)), color-stop(14%, rgba(252,205,77,1)), color-stop(57%, rgba(248,181,0,1)), color-stop(77%, rgba(252,205,77,1)), color-stop(100%, rgba(251,223,147,1)));
background: -webkit-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 14%, rgba(248,181,0,1) 57%, rgba(252,205,77,1) 77%, rgba(251,223,147,1) 100%);
background: -o-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 14%, rgba(248,181,0,1) 57%, rgba(252,205,77,1) 77%, rgba(251,223,147,1) 100%);
background: -ms-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 14%, rgba(248,181,0,1) 57%, rgba(252,205,77,1) 77%, rgba(251,223,147,1) 100%);
background: linear-gradient(to right, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 14%, rgba(248,181,0,1) 57%, rgba(252,205,77,1) 77%, rgba(251,223,147,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );
}
#footer{
	background: rgba(252,234,187,1);
background: -moz-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 14%, rgba(248,181,0,1) 57%, rgba(252,205,77,1) 77%, rgba(251,223,147,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,234,187,1)), color-stop(14%, rgba(252,205,77,1)), color-stop(57%, rgba(248,181,0,1)), color-stop(77%, rgba(252,205,77,1)), color-stop(100%, rgba(251,223,147,1)));
background: -webkit-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 14%, rgba(248,181,0,1) 57%, rgba(252,205,77,1) 77%, rgba(251,223,147,1) 100%);
background: -o-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 14%, rgba(248,181,0,1) 57%, rgba(252,205,77,1) 77%, rgba(251,223,147,1) 100%);
background: -ms-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 14%, rgba(248,181,0,1) 57%, rgba(252,205,77,1) 77%, rgba(251,223,147,1) 100%);
background: linear-gradient(to right, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 14%, rgba(248,181,0,1) 57%, rgba(252,205,77,1) 77%, rgba(251,223,147,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );
}
#footer p{
    line-height: 40px;
   
	font-size: 25px;
  }
#footer ul li{
    line-height: 40px;
   
	font-size: 25px;
  }
#footer ul li{
	list-style-type: none;
	margin-left:-35px;
}
.copy{
    color: gold;
/* IE10+ */
    background: rgba(76,76,76,1);
    background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 19%, rgba(0,0,0,1) 45%, rgba(19,19,19,1) 65%, rgba(17,17,17,1) 66%, rgba(28,28,28,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(0%, rgba(89,89,89,1)), color-stop(0%, rgba(71,71,71,1)), color-stop(0%, rgba(102,102,102,1)), color-stop(19%, rgba(44,44,44,1)), color-stop(45%, rgba(0,0,0,1)), color-stop(65%, rgba(19,19,19,1)), color-stop(66%, rgba(17,17,17,1)), color-stop(100%, rgba(28,28,28,1)));
    background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 19%, rgba(0,0,0,1) 45%, rgba(19,19,19,1) 65%, rgba(17,17,17,1) 66%, rgba(28,28,28,1) 100%);
    background: -o-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 19%, rgba(0,0,0,1) 45%, rgba(19,19,19,1) 65%, rgba(17,17,17,1) 66%, rgba(28,28,28,1) 100%);
    background: -ms-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 19%, rgba(0,0,0,1) 45%, rgba(19,19,19,1) 65%, rgba(17,17,17,1) 66%, rgba(28,28,28,1) 100%);
    background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 19%, rgba(0,0,0,1) 45%, rgba(19,19,19,1) 65%, rgba(17,17,17,1) 66%, rgba(28,28,28,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#1c1c1c', GradientType=1 );

padding: 20px;
}

#infoprice h3{
	font-size: 20px;
}

#portfolio{
	margin-bottom: 20px;
}


.cd-intro-block {
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
}
.cd-intro-block.projects-visible {
  /* translate the .cd-intro-block element to reveal the projects slider */
  transform: translateY(-90%);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.cd-projects-wrapper {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s 0.5s;
}
.cd-projects-wrapper.projects-visible {
  visibility: visible;
  transition: visibility 0s 0s;
}

.cd-slider li {
  opacity: 0;
}
.cd-slider li.slides-in {
  opacity: 1;
  animation: cd-translate 0.5s;
}
@keyframes cd-translate {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (min-width: 900px) {
  .cd-slider li {
    position: relative;
    float: left;
    width: 26%;
    top: 50%;
    transform: translateX(400%) translateY(-50%) rotate(-10deg);
    transition: opacity 0s 0.3s, transform 0s 0.3s;
  }
  .cd-slider li.slides-in {
    /* reset style */
    animation: none;
    transform: translateY(-50%);
  }
}

@keyframes cd-slide-n {
  0%, 100% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-50%) translateX(translateValue);
  }
}


header {
    background-image: url("../img/hedbg.jpg");
    width: 100%;
    height: 100vh

}
.header-blok{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    color: gold;
}
.logo {
    margin-top: 20px;
    margin-left: 20px;
    max-width: 600px;
}

/*knopki sverhu*/
header p{
    text-align: center
}
.header-nav  a{
    height: 150px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid gold;
    margin: 20px;
    display: inline-block;
    color:gold;
    font-size: 32px;
    padding-top: 50px;
    text-decoration: none;
}

#calculator{
    color: gold;

}
.title{
    height: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    color: gold;
    font-size: 36px;
    text-align: center;

    padding-top: 65px;
    margin-bottom: 50px;

}


/*body{*/
/*position: fixed;*/
/*top: 0;*/
/*left: 0;*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/

.diagram {


    position: absolute;
    top: 25%;
    left: 25%;

}

.middle p {
    color: black;
}
.middle h2 {
    color: black;
}



.testo{
    border: 2px solid black;
    color: black;
    padding: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;

}

.cal-btn{
    background-color: rgba(0, 0, 0, 0.8);
    color: gold;
}
#diagram{
    margin-bottom: 60px;
}
@media only screen and (max-width : 500px) {
    #bot-btn .btn{
        display: block;
        width: 100%;
    }
}

.portfolio-item {
    margin-bottom: 25px;
}
.navbar-style{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
}
.navbar-style a{
    color: gold;
    font-size: 24;
}
#navbar-top{
    display:none;
}
.btn-start{
    background-color: rgba(0, 0, 0, 0.8);
    color: gold;
}
.btn-start:hover{
    color: white;
}

.btn-primary{
    background-color: rgba(0, 0, 0, 0.8);
    color: gold;
    max-height: 100px;
    border: none;
}
.btn-primary:hover{
    color: white;
}
.btn-test1{
    background-color: rgba(0, 0, 0, 0.8);
    color: gold;
    max-height: 100px;
}
.btn-test2 {
    background-color: gold;
    color: rgba(0, 0, 0, 0.8);
    max-height: 100px;
}


.carousel ul li p{
   position: absolute;
   margin: 0 10px 0 10px; 
   padding: 0 10px 0 10px; 
   background: rgba(0,0,0,0.5); 
   font-size: 13px;
    width: 100%; 
    color: gold; 
    bottom: 0; 
    text-align: center;
}
.carousel ul li img{
   margin: 0 10px 0 10px; 
}
.wrapper{
  margin-bottom: 30px;
}


.carousel { position:relative; min-height: 20px; height:auto !important; height: 20px;  background:url(/images/loader.gif) center center no-repeat; }
      .carousel .next,
      .carousel .prev { display:none; width:56px; height:56px; position:absolute; bottom:20px; left:50%; margin-top:-28px; z-index:9999; cursor:pointer; }
      .carousel .prev { margin-left:-60px; background:url(../images/prev.png) 0 0 no-repeat;  }
      .carousel .next { margin-right:-60px;  background:url(../images/next.png) 0 0 no-repeat; }
      .carousel li { display:none; }
      .carousel li img { width:100%; height:auto; }
      .paging { position:absolute; z-index:9998; }
      .paging > a { display:block; cursor:pointer; width:40px; height:40px; float:left; background:url(/images/dots.png) 0px -40px no-repeat; }
      .paging > a:hover,
      .paging > a.current { background:url(/images/dots.png) 0px 0px no-repeat;  }
      .badge { display:block; width:104px; height:104px; background:url(i/mages/badge.png) 0 0 no-repeat; z-index:9000; position:absolute; top:-3px; left:-3px; }
      img {
-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;
  user-select: none;    

}